site_name: Six Jonathan | Graphics programming & Game Development tutorials
theme:
  name: material
  icon: 
    logo: material/vector-triangle
  palette:
      # Palette toggle for light mode
    - scheme: default
      primary: deep purple
      accent: indigo
      toggle:
        icon: material/toggle-switch 
        name: Switch to dark mode
      # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode

  features:
    - content.tooltips
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - navigation.path
    - navigation.sections

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - def_list
  - tables
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Accueil: index.md
  - Tutorials:
      - tutorials/index.md
      - GPU Profiling:
        - 01 Intro: tutorials/GPUProfiling/00_Introduction.md
        - 02 Frame Analysis: tutorials/GPUProfiling/01_FrameAnalysis.md
        - 03 GPU profiling: tutorials/GPUProfiling/02_GPUProfiling.md
        - 04 Rapport de profiling: tutorials/GPUProfiling/03_RapportProfiling.md